body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    
}

.container{
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: solid 2px black;
    flex: 0 1 auto;
}

button{
    margin: 0 0 2% 0;
}